.main {
  background-color: lightcyan;
  padding: 20px;
  border: 3px red solid;
  margin: 20px;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  margin-left: 150px;
  margin-right: 150px;
}

.compa {
  background-color: darkslateblue;
  height: 100px;
  padding: 30px;
  padding-top: 0px;
  border: brown 4px inset;
  color: white;
  margin: 10px;
}

.compb {
  height: 100px;
  padding: 30px;
  padding-top: 0px;
  border: darkslateblue 4px inset;
  color: black;
}

tr {
  display: flex;
  
}
